---
- name: include variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version | int }}.yaml"
    - "{{ ansible_distribution }}.yaml"
    - "{{ ansible_os_family | lower }}.yaml"
    - "default.yaml"

- name: update package list (debian)
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: install packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ required_packages }}"

- name: Install a Libreswan .deb package from S3
  apt:
    deb: https://pawapay-packages.s3.eu-central-1.amazonaws.com/libreswan_4.6-1_amd64.deb

- name: enable forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present

- name: disable default reverse path filter
  ansible.posix.sysctl:
    name: net.ipv4.conf.default.rp_filter
    value: '0'
    state: present

- name: disable current reverse path filter
  ansible.builtin.shell: |
    for i in /proc/sys/net/ipv4/conf/*/rp_filter
    do
      echo 0 > $i
    done
  changed_when: false

- name: disable accept redirects
  ansible.posix.sysctl:
    name: net.ipv4.conf.default.accept_redirects
    value: '0'
    state: present

- name: disable send redirects
  ansible.posix.sysctl:
    name: net.ipv4.conf.default.send_redirects
    value: '0'
    state: present

- name: configure ipsec connections
  ansible.builtin.import_tasks: configure_connections.yaml

- name: enable and start ipsec service
  ansible.builtin.service:
    name: ipsec
    state: started
    enabled: yes
